$backColor: rgb(255, 255, 255);
$fontColor: black;
$fontSize: 16px;
$fontBold: bold;
$btnColor: rgb(196, 196, 196);
$btnHoverColor: rgb(77, 75, 75);
$fontFamily: Arial, sans-serif;
$borderColor: black;
$cardColor: #f0f0f0;
$shadowColor: rgba(63, 63, 63, 0.1);
