$backColor: white;
$fontColor: black;
$fontSize: 16px;
$fontBold: bold;
$btnColor: rgb(97, 95, 95);
$btnHoverColor: rgb(77, 75, 75);
$fontFamily: Arial, sans-serif;
$borderColor: black;
$cardColor: #f0f0f0;
$shadowColor: rgba(63, 63, 63, 0.1);