<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticketera</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <%- include('./_partials/navBar') %>
    </header>
    <main>
        <%- include('./_partials/cardTicket') %>
        <aside>
            <h4>Filtros:</h4>
            <button>Limpiar filtros</button>
            <ul>
                <li><input type="checkbox" name="" id="alta">Prioridad: Alta</li>
                <li><input type="checkbox" name="" id="media">Prioridad: Media</li>
                <li><input type="checkbox" name="" id="baja">Prioridad: Baja</li>
                <li><input type="checkbox" name="" id="abierto">Estado: Abierto</li>
                <li><input type="checkbox" name="" id="cerrado">Estado: Cerrado</li>
            </ul>
        </aside>
    </main>

    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
    <script type="module" src="../js/index.js"></script>
</body>

</html>

