<form action="/newTicket" method="POST">
    <label>Asunto:</label>
    <input type="text" name="asunto" required><br><br>

    <label>Descripción:</label>
    <textarea name="descripcion" required></textarea><br><br>

    <button type="submit">Guardar Ticket</button>
</form>