<nav>
    <input type="text" name="" id="search" placeholder="Buscar..." />
    <a href="/"><button class="btnNav">Inicio</button></a>
    <a href="/ticket/create"><button class="btnNav">Crear</button></a>

</nav>