@use "../variables" as *;

main {
    background-color: $backColor;
    display: flex;
    flex-direction: row;

    & p {
        color: rgb(0, 0, 0);
        font-size: 16px;
    }

    & section {
        width: 80%;

        & .tktHead {
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid black;
        }

        & .tktTitle {
            justify-content: start;
            align-items: start;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: baseline;
        }

        & .tktInfo {
            max-width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: baseline;


            & h5 {
                margin: 1vw;
            }
        }

        & .tktDesc {
            display: block;
            width: 100%;
            border-bottom: 1px solid black;

            & p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & .tktDetail {
            display: flex;
            flex-direction: row;
            justify-content: center;

            & button {
                background-color: $btnColor;
                color: white;
                border: solid black 1px;
                padding: 10px 20px;
                margin: 1%;
                border-radius: 5px;
                width: 8vw;
                min-width: fit-content;
                margin: 0.5vw;
                cursor: pointer;
            }

            // & .detailBtn {
            //     // estilos del botón
            //     background-color: $btnColor;
            //     color: white;
            //     border: solid black 1px;
            //     padding: 10px 20px;
            //     margin: 1%;
            //     border-radius: 5px;
            //     width: 8vw;
            //     min-width: fit-content;
            //     margin: 0.5vw;
            //     cursor: pointer; 
            //     & a{ text-decoration: none; color: rgb(233, 0, 0);}
            // }}
        }


        & h3 {
            color: $fontColor;
            font-size: $fontSize;
        }

        & p {
            color: $fontColor;
            font-size: $fontSize;
        }



        .cardTicketalta {
            width: 100%;
            list-style: none;
            background-color: $cardColor;
            padding: 10px;
            border-radius: 5px;
            border: solid 2px $borderColor;
            margin-top: 2%;
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            box-shadow: 0 4px 8px 0 $shadowColor, 0 6px 20px 0 $shadowColor;
            background: $prioridadAlta;

        }

        .cardTicketmedia {
            width: 100%;
            list-style: none;
            background-color: $cardColor;
            padding: 10px;
            border-radius: 5px;
            border: solid 2px $borderColor;
            margin-top: 2%;
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            box-shadow: 0 4px 8px 0 $shadowColor, 0 6px 20px 0 $shadowColor;
            background: $prioridadMedia;

        }

        .cardTicketbaja {
            width: 100%;
            list-style: none;
            background-color: $cardColor;
            padding: 10px;
            border-radius: 5px;
            border: solid 2px $borderColor;
            margin-top: 2%;
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            box-shadow: 0 4px 8px 0 $shadowColor, 0 6px 20px 0 $shadowColor;
            background: $prioridadBaja;
        }

    }

    & aside {
        width: 20%;
        background-color: rgb(214, 213, 212);
        padding: 10px;
        border-radius: 5px;
        border: solid 2px $borderColor;
        margin-left: 3%;

        & h4 {
            color: $fontColor;
            font-size: $fontSize;
        }

        & ul {
            list-style: none;
            padding: 0;

            li {
                color: $fontColor;
                font-size: $fontSize;
                margin: 5px 0;
            }
        }
    }

    & #createTkt {
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
        margin: auto;
        border: 2px solid black;
        border-radius: 5px;
        background-color: $cardColor;

        & h2 {
            font-weight: lighter;
            text-align: center;
        }

        & #createForm {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: safe;
            margin: auto;
            align-items: baseline;
            font-weight: lighter;

            & #formAsunto {
                align-items: baseline;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                height: fit-content;

                & label {
                    width: 10%;
                }

                & #inputAsunto {
                    justify-self: start;
                    display: block;
                    width: 70vw;
                    border-radius: 5px;
                }
            }

            & #formDesc {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin-top: 1vh;

                & label {
                    width: 10%;
                }

                & #txtAreaDesc {
                    border-radius: 5px;
                    width: 70vw;
                    height: auto;
                    resize: vertical;
                    box-sizing: border-box;
                    font-size: 14px;
                }
            }

            & #formSelects {
                align-items: baseline;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-top: 1vh;
                
                & label {
                    width: fit-content;
                }


                & select {
                    width: 20vw;
                    height: fit-content;
                    border-radius: 5px;
                    border: 1px solid black;
                    padding: 5px;
                }
            }



            & button {
                color: white;
                width: 20%;
                height: 2.5vh;
                margin: auto;
                margin-bottom: 1vh;
                background-color: $btnColor;
                border: 2px solid black;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    & .showTkt {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;

        & .ticket-card {
            width: 50%;
            border: 2px solid black;
            border-radius: 5px;
            padding: 10px;
            background-color: red;
            box-shadow: 0 4px 8px 0 $shadowColor, 0 6px 20px 0 $shadowColor;

            & h1 {
                text-align: center;
                margin-bottom: 10px;
            }

            & p {
                margin: 5px 0;
                font-size: $fontSize;
            }

            & .tktDetail {
                margin-top: 10px;
                padding-top: 10px;
                border-top: 2px solid black;
            }
        }
    }

}